dist: focal
language: rust
rust:
  - stable
  - beta
  - nightly
jobs:
  allow_failures:
    - rust: nightly
  fast_finish: true
before_script:
  - rustup component add rustfmt
script:
  - cargo build --verbose
  - cargo test --verbose
  - cargo fmt -- --check
